server {
  listen {{ web_addresses[inventory_hostname].v4 | ipaddr('address') }}:443 ssl;
  listen [{{ web_addresses[inventory_hostname].v6 | ipaddr('address') }}]:443 ssl;

	root /var/www/html;
	index index.html;

	server_name {{ fqdns[inventory_hostname] }};

	ssl_protocols TLSv1.3 TLSv1.2;
  ssl_prefer_server_ciphers on;
  ssl_ciphers TLS13-CHACHA20-POLY1305-SHA256:TLS13-AES-256-GCM-SHA384:TLS13-AES-128-GCM-SHA256:EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH;

	location / {
		try_files $uri $uri/ =404;
	}

	error_page  404 /404.html;
	location = /404.html {
		root	/nfs/web;
	}

  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   /nfs/web;
  }
}